<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
  </head>
  <body>
    <ul>
      <li><a href="default.asp">accc</a></li>
      <li><a href="news.asp">News</a></li>
      <li><a href="contact.asp">Contact</a></li>
      <li><a href="about.asp">About</a></li>
    </ul>

    <div class="container" style="margin: 10px">
      <form action="" class="form">
        <label for="name" class="form__label">Name: </label>
        <input type="text" placeholder="Name" class="form__input" id="name" />

        <label for="email" class="form__label">Email: </label>
        <input
          type="email"
          placeholder="Email"
          class="form__input"
          id="email"
        />

        <label for="subject" class="form__label">Subject</label>
        <input
          type="text"
          placeholder="Subject"
          class="form__input"
          id="subject"
        />
      </form>
    </div>
  </body>
</html>
